body, h1, h2, h3, h4, h5, h6 {
    font-family: "Lato", sans-serif;
}

body, html {
    height: 100%;
    color: black;
    line-height: 1.8;
}

.menu-bar{
     color: white;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
    background-image: url('/images/background_1.jpg');
    min-height: 100%;
}

/* Second image (Portfolio) */
.bgimg-2 {
    background-image: url("/images/background_2.jpg");
    min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
    background-image: url("/images/background_3.jpg");
    min-height: 400px;
}


.w3-hover-opacity {
    cursor: pointer;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}

.fz-12{
    font-size: 12px;
}

.radar-chart .area {
    fill-opacity: 0.7;
}

.radar-chart.focus .area {
    fill-opacity: 0.3;
}

    .radar-chart.focus .area.focused {
        fill-opacity: 0.9;
    }

.area.germany, .germany .circle {
    fill: #FFD700;
    stroke: none;
}

.area.argentina, .argentina .circle {
    fill: #ADD8E6;
    stroke: none;
}

.skillity-page {
    height:300px;
    overflow:hidden;
}